In [1]:
import pandas as pd
import numpy as np

Function to remove special characters.

In [2]:
def simplify(text):
    import unicodedata
    try:
        text = unicode(text, 'utf-8')
    except NameError:
        pass
    text = unicodedata.normalize('NFD', text).encode('ascii', 'ignore').decode("utf-8")
    return str(text)

Gini index function.

In [3]:
def gini(x):
    total = 0
    x = np.array(x)
    for i, xi in enumerate(x[:-1], 1):
        total += np.sum(np.abs(xi - x[i:]))
    return total / (len(x)**2 * np.mean(x))

# Leiden Ranking

In [23]:
df_l = pd.read_csv('data/full_leiden_wikipedia_indicators.tsv', decimal=',', sep='\t', encoding='UTF-8')
df_l

,id,grid_id,short_name,full_name,Country,impact_P,impact_P_Bio_Health,impact_P_Life_Earth,impact_P_Math_Comp,impact_P_Phy_Eng,...,int_views,rest_views,editors,revisions,words,unique_references,minor_edits,characters,sections,references
0,6,grid.5110.5,Univ Graz,University of Graz,Austria,3435,1033,823,264,841,...,171232.0,216690.0,1334,2434,11028,130,1164,106065,240,153
1,8,grid.410413.3,Graz Univ Technol,Graz University of Technology,Austria,3481,680,361,540,1828,...,393653.0,91336.0,557,1068,6081,111,441,51374,126,127
2,10,grid.5771.4,Univ Innsbruck,University of Innsbruck,Austria,5704,1041,1361,296,2501,...,231068.0,163595.0,981,1719,6205,101,824,60555,159,126
3,14,grid.9970.7,Johannes Kepler Univ Linz,Johannes Kepler University Linz,Austria,2628,648,77,637,1028,...,106141.0,24841.0,404,841,4357,78,295,39598,94,84
4,15,grid.7039.d,Univ Salzburg,University of Salzburg,Austria,1850,671,416,199,229,...,175317.0,74306.0,539,959,5548,84,386,53209,106,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,19138,grid.412742.6,SRM Inst Sci & Technol,SRM Institute of Science and Technology,India,2543,404,245,368,1513,...,628470.0,5585.0,1072,2636,984,33,467,14384,25,43
1216,32912,grid.9983.b,Universidade Lisboa,Universidade de Lisboa,Portugal,17465,4048,3884,1801,6486,...,195236.0,201333.0,900,1617,9290,162,693,75684,183,183
1217,33166,grid.488643.5,Univ Hlth Sci,University of Health Sciences,Turkey,2093,1973,54,7,33,...,10289.0,5861.0,52,131,1933,21,44,17214,24,48
1218,101154,grid.412674.2,Soonchunhyang Univ,Soonchunhyang University,South Korea,3193,2477,118,273,245,...,45799.0,14533.0,209,478,2324,15,148,23325,76,16
1219,101177,grid.412462.7,Payame Noor Univ,Payame Noor University,Iran,2477,257,295,251,1630,...,64013.0,4650.0,472,1020,3882,50,236,34583,46,62

In [24]:
df_l['impact_P_Bio_Health_2'] = 100*df_l['impact_P_Bio_Health']/df_l['impact_P']
df_l['impact_P_Phy_Eng_2'] = 100*df_l['impact_P_Phy_Eng']/df_l['impact_P']
df_l

,id,grid_id,short_name,full_name,Country,impact_P,impact_P_Bio_Health,impact_P_Life_Earth,impact_P_Math_Comp,impact_P_Phy_Eng,...,editors,revisions,words,unique_references,minor_edits,characters,sections,references,impact_P_Bio_Health_2,impact_P_Phy_Eng_2
0,6,grid.5110.5,Univ Graz,University of Graz,Austria,3435,1033,823,264,841,...,1334,2434,11028,130,1164,106065,240,153,30.072780,24.483261
1,8,grid.410413.3,Graz Univ Technol,Graz University of Technology,Austria,3481,680,361,540,1828,...,557,1068,6081,111,441,51374,126,127,19.534616,52.513646
2,10,grid.5771.4,Univ Innsbruck,University of Innsbruck,Austria,5704,1041,1361,296,2501,...,981,1719,6205,101,824,60555,159,126,18.250351,43.846424
3,14,grid.9970.7,Johannes Kepler Univ Linz,Johannes Kepler University Linz,Austria,2628,648,77,637,1028,...,404,841,4357,78,295,39598,94,84,24.657534,39.117199
4,15,grid.7039.d,Univ Salzburg,University of Salzburg,Austria,1850,671,416,199,229,...,539,959,5548,84,386,53209,106,99,36.270270,12.378378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,19138,grid.412742.6,SRM Inst Sci & Technol,SRM Institute of Science and Technology,India,2543,404,245,368,1513,...,1072,2636,984,33,467,14384,25,43,15.886748,59.496657
1216,32912,grid.9983.b,Universidade Lisboa,Universidade de Lisboa,Portugal,17465,4048,3884,1801,6486,...,900,1617,9290,162,693,75684,183,183,23.177784,37.137131
1217,33166,grid.488643.5,Univ Hlth Sci,University of Health Sciences,Turkey,2093,1973,54,7,33,...,52,131,1933,21,44,17214,24,48,94.266603,1.576684
1218,101154,grid.412674.2,Soonchunhyang Univ,Soonchunhyang University,South Korea,3193,2477,118,273,245,...,209,478,2324,15,148,23325,76,16,77.575947,7.673035
1219,101177,grid.412462.7,Payame Noor Univ,Payame Noor University,Iran,2477,257,295,251,1630,...,472,1020,3882,50,236,34583,46,62,10.375454,65.805410

In [25]:
df_l['topic_specialisation'] = 0
df_l['topic_specialisation_bio'] = 0
df_l['topic_specialisation_eng'] = 0
df_l.loc[df_l['impact_P_Bio_Health_2']>=50, 'topic_specialisation_bio'] = 1
df_l.loc[df_l['impact_P_Phy_Eng_2']>=50, 'topic_specialisation_eng'] = 1
df_l.loc[(df_l['impact_P_Bio_Health_2']>=50) | (df_l['impact_P_Phy_Eng_2']>=50), 'topic_specialisation'] = 1
df_l.drop(columns=['impact_P_Bio_Health_2', 'impact_P_Phy_Eng_2'], inplace=True)
df_l

,id,grid_id,short_name,full_name,Country,impact_P,impact_P_Bio_Health,impact_P_Life_Earth,impact_P_Math_Comp,impact_P_Phy_Eng,...,revisions,words,unique_references,minor_edits,characters,sections,references,topic_specialisation,topic_specialisation_bio,topic_specialisation_eng
0,6,grid.5110.5,Univ Graz,University of Graz,Austria,3435,1033,823,264,841,...,2434,11028,130,1164,106065,240,153,0,0,0
1,8,grid.410413.3,Graz Univ Technol,Graz University of Technology,Austria,3481,680,361,540,1828,...,1068,6081,111,441,51374,126,127,1,0,1
2,10,grid.5771.4,Univ Innsbruck,University of Innsbruck,Austria,5704,1041,1361,296,2501,...,1719,6205,101,824,60555,159,126,0,0,0
3,14,grid.9970.7,Johannes Kepler Univ Linz,Johannes Kepler University Linz,Austria,2628,648,77,637,1028,...,841,4357,78,295,39598,94,84,0,0,0
4,15,grid.7039.d,Univ Salzburg,University of Salzburg,Austria,1850,671,416,199,229,...,959,5548,84,386,53209,106,99,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,19138,grid.412742.6,SRM Inst Sci & Technol,SRM Institute of Science and Technology,India,2543,404,245,368,1513,...,2636,984,33,467,14384,25,43,1,0,1
1216,32912,grid.9983.b,Universidade Lisboa,Universidade de Lisboa,Portugal,17465,4048,3884,1801,6486,...,1617,9290,162,693,75684,183,183,0,0,0
1217,33166,grid.488643.5,Univ Hlth Sci,University of Health Sciences,Turkey,2093,1973,54,7,33,...,131,1933,21,44,17214,24,48,1,1,0
1218,101154,grid.412674.2,Soonchunhyang Univ,Soonchunhyang University,South Korea,3193,2477,118,273,245,...,478,2324,15,148,23325,76,16,1,1,0
1219,101177,grid.412462.7,Payame Noor Univ,Payame Noor University,Iran,2477,257,295,251,1630,...,1020,3882,50,236,34583,46,62,1,0,1

In [26]:
df_l['gini_production'] = None

for i in range(df_l.shape[0]):
    df_l.loc[i, 'gini_production'] = round(gini(df_l.loc[i ,['impact_P_Bio_Health', 'impact_P_Life_Earth', 'impact_P_Math_Comp', 'impact_P_Phy_Eng', 'impact_P_Soc_Hum']].tolist()), 3)

df_l

,id,grid_id,short_name,full_name,Country,impact_P,impact_P_Bio_Health,impact_P_Life_Earth,impact_P_Math_Comp,impact_P_Phy_Eng,...,words,unique_references,minor_edits,characters,sections,references,topic_specialisation,topic_specialisation_bio,topic_specialisation_eng,gini_production
0,6,grid.5110.5,Univ Graz,University of Graz,Austria,3435,1033,823,264,841,...,11028,130,1164,106065,240,153,0,0,0,0.222
1,8,grid.410413.3,Graz Univ Technol,Graz University of Technology,Austria,3481,680,361,540,1828,...,6081,111,441,51374,126,127,1,0,1,0.44
2,10,grid.5771.4,Univ Innsbruck,University of Innsbruck,Austria,5704,1041,1361,296,2501,...,6205,101,824,60555,159,126,0,0,0,0.369
3,14,grid.9970.7,Johannes Kepler Univ Linz,Johannes Kepler University Linz,Austria,2628,648,77,637,1028,...,4357,78,295,39598,94,84,0,0,0,0.352
4,15,grid.7039.d,Univ Salzburg,University of Salzburg,Austria,1850,671,416,199,229,...,5548,84,386,53209,106,99,0,0,0,0.245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,19138,grid.412742.6,SRM Inst Sci & Technol,SRM Institute of Science and Technology,India,2543,404,245,368,1513,...,984,33,467,14384,25,43,1,0,1,0.496
1216,32912,grid.9983.b,Universidade Lisboa,Universidade de Lisboa,Portugal,17465,4048,3884,1801,6486,...,9290,162,693,75684,183,183,0,0,0,0.291
1217,33166,grid.488643.5,Univ Hlth Sci,University of Health Sciences,Turkey,2093,1973,54,7,33,...,1933,21,44,17214,24,48,1,1,0,0.756
1218,101154,grid.412674.2,Soonchunhyang Univ,Soonchunhyang University,South Korea,3193,2477,118,273,245,...,2324,15,148,23325,76,16,1,1,0,0.62
1219,101177,grid.412462.7,Payame Noor Univ,Payame Noor University,Iran,2477,257,295,251,1630,...,3882,50,236,34583,46,62,1,0,1,0.519

# University established year

In [27]:
df_age = pd.read_csv('data/univ_year.tsv', sep='\t', encoding='UTF-8')
df_age

         id                 university  established_year
0         6                  Univ Graz              1585
1         8          Graz Univ Technol              1811
2        10             Univ Innsbruck              1669
3        14  Johannes Kepler Univ Linz              1966
4        15              Univ Salzburg              1622
...     ...                        ...               ...
1215   9678  China Univ Petrol E China              1953
1216  10551                 Univ Paris              1150
1217  10561        Univ Grenoble Alpes              1339
1218  19006     Univ Clermont-Auvergne              2017
1219  33166              Univ Hlth Sci              2015

[1220 rows x 3 columns]

In [28]:
df_l[df_l['id'].isin(df_age['id'])]

,id,grid_id,short_name,full_name,Country,impact_P,impact_P_Bio_Health,impact_P_Life_Earth,impact_P_Math_Comp,impact_P_Phy_Eng,...,words,unique_references,minor_edits,characters,sections,references,topic_specialisation,topic_specialisation_bio,topic_specialisation_eng,gini_production
0,6,grid.5110.5,Univ Graz,University of Graz,Austria,3435,1033,823,264,841,...,11028,130,1164,106065,240,153,0,0,0,0.222
1,8,grid.410413.3,Graz Univ Technol,Graz University of Technology,Austria,3481,680,361,540,1828,...,6081,111,441,51374,126,127,1,0,1,0.44
2,10,grid.5771.4,Univ Innsbruck,University of Innsbruck,Austria,5704,1041,1361,296,2501,...,6205,101,824,60555,159,126,0,0,0,0.369
3,14,grid.9970.7,Johannes Kepler Univ Linz,Johannes Kepler University Linz,Austria,2628,648,77,637,1028,...,4357,78,295,39598,94,84,0,0,0,0.352
4,15,grid.7039.d,Univ Salzburg,University of Salzburg,Austria,1850,671,416,199,229,...,5548,84,386,53209,106,99,0,0,0,0.245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,19138,grid.412742.6,SRM Inst Sci & Technol,SRM Institute of Science and Technology,India,2543,404,245,368,1513,...,984,33,467,14384,25,43,1,0,1,0.496
1216,32912,grid.9983.b,Universidade Lisboa,Universidade de Lisboa,Portugal,17465,4048,3884,1801,6486,...,9290,162,693,75684,183,183,0,0,0,0.291
1217,33166,grid.488643.5,Univ Hlth Sci,University of Health Sciences,Turkey,2093,1973,54,7,33,...,1933,21,44,17214,24,48,1,1,0,0.756
1218,101154,grid.412674.2,Soonchunhyang Univ,Soonchunhyang University,South Korea,3193,2477,118,273,245,...,2324,15,148,23325,76,16,1,1,0,0.62
1219,101177,grid.412462.7,Payame Noor Univ,Payame Noor University,Iran,2477,257,295,251,1630,...,3882,50,236,34583,46,62,1,0,1,0.519

# Continent

In [29]:
df_reg = pd.read_csv('data/continents.tsv', sep='\t', encoding='UTF-8')
df_reg

,Countries or Areas No,Country or Area,ISO-alpha3 Code,M49 Code,Region 1,Region 2,Continent
0,1,Afghanistan,AFG,4,Southern Asia,NaN,Asia
1,2,Åland Islands,ALA,248,Northern Europe,NaN,Europe
2,3,Albania,ALB,8,Southern Europe,NaN,Europe
3,4,Algeria,DZA,12,Northern Africa,NaN,Africa
4,5,American Samoa,ASM,16,Polynesia,NaN,Oceania
...,...,...,...,...,...,...,...
245,246,Western Sahara,ESH,732,Northern Africa,NaN,Africa
246,247,Yemen,YEM,887,Western Asia,NaN,Asia
247,248,Zambia,ZMB,894,Eastern Africa,Sub-Saharan Africa,Africa
248,249,Zimbabwe,ZWE,716,Eastern Africa,Sub-Saharan Africa,Africa
249,250,Taiwan,TWN,158,Asia,Asia,Asia

In [30]:
df_l[df_l['Country'].isin(df_reg['Country or Area'])]

,id,grid_id,short_name,full_name,Country,impact_P,impact_P_Bio_Health,impact_P_Life_Earth,impact_P_Math_Comp,impact_P_Phy_Eng,...,words,unique_references,minor_edits,characters,sections,references,topic_specialisation,topic_specialisation_bio,topic_specialisation_eng,gini_production
0,6,grid.5110.5,Univ Graz,University of Graz,Austria,3435,1033,823,264,841,...,11028,130,1164,106065,240,153,0,0,0,0.222
1,8,grid.410413.3,Graz Univ Technol,Graz University of Technology,Austria,3481,680,361,540,1828,...,6081,111,441,51374,126,127,1,0,1,0.44
2,10,grid.5771.4,Univ Innsbruck,University of Innsbruck,Austria,5704,1041,1361,296,2501,...,6205,101,824,60555,159,126,0,0,0,0.369
3,14,grid.9970.7,Johannes Kepler Univ Linz,Johannes Kepler University Linz,Austria,2628,648,77,637,1028,...,4357,78,295,39598,94,84,0,0,0,0.352
4,15,grid.7039.d,Univ Salzburg,University of Salzburg,Austria,1850,671,416,199,229,...,5548,84,386,53209,106,99,0,0,0,0.245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,19138,grid.412742.6,SRM Inst Sci & Technol,SRM Institute of Science and Technology,India,2543,404,245,368,1513,...,984,33,467,14384,25,43,1,0,1,0.496
1216,32912,grid.9983.b,Universidade Lisboa,Universidade de Lisboa,Portugal,17465,4048,3884,1801,6486,...,9290,162,693,75684,183,183,0,0,0,0.291
1217,33166,grid.488643.5,Univ Hlth Sci,University of Health Sciences,Turkey,2093,1973,54,7,33,...,1933,21,44,17214,24,48,1,1,0,0.756
1218,101154,grid.412674.2,Soonchunhyang Univ,Soonchunhyang University,South Korea,3193,2477,118,273,245,...,2324,15,148,23325,76,16,1,1,0,0.62
1219,101177,grid.412462.7,Payame Noor Univ,Payame Noor University,Iran,2477,257,295,251,1630,...,3882,50,236,34583,46,62,1,0,1,0.519

# Join

## Age

In [31]:
df_l = df_l.merge(df_age[['id', 'established_year']], how='inner', on='id')
df_l

,id,grid_id,short_name,full_name,Country,impact_P,impact_P_Bio_Health,impact_P_Life_Earth,impact_P_Math_Comp,impact_P_Phy_Eng,...,unique_references,minor_edits,characters,sections,references,topic_specialisation,topic_specialisation_bio,topic_specialisation_eng,gini_production,established_year
0,6,grid.5110.5,Univ Graz,University of Graz,Austria,3435,1033,823,264,841,...,130,1164,106065,240,153,0,0,0,0.222,1585
1,8,grid.410413.3,Graz Univ Technol,Graz University of Technology,Austria,3481,680,361,540,1828,...,111,441,51374,126,127,1,0,1,0.44,1811
2,10,grid.5771.4,Univ Innsbruck,University of Innsbruck,Austria,5704,1041,1361,296,2501,...,101,824,60555,159,126,0,0,0,0.369,1669
3,14,grid.9970.7,Johannes Kepler Univ Linz,Johannes Kepler University Linz,Austria,2628,648,77,637,1028,...,78,295,39598,94,84,0,0,0,0.352,1966
4,15,grid.7039.d,Univ Salzburg,University of Salzburg,Austria,1850,671,416,199,229,...,84,386,53209,106,99,0,0,0,0.245,1622
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,19138,grid.412742.6,SRM Inst Sci & Technol,SRM Institute of Science and Technology,India,2543,404,245,368,1513,...,33,467,14384,25,43,1,0,1,0.496,1985
1216,32912,grid.9983.b,Universidade Lisboa,Universidade de Lisboa,Portugal,17465,4048,3884,1801,6486,...,162,693,75684,183,183,0,0,0,0.291,1911
1217,33166,grid.488643.5,Univ Hlth Sci,University of Health Sciences,Turkey,2093,1973,54,7,33,...,21,44,17214,24,48,1,1,0,0.756,2015
1218,101154,grid.412674.2,Soonchunhyang Univ,Soonchunhyang University,South Korea,3193,2477,118,273,245,...,15,148,23325,76,16,1,1,0,0.62,1978
1219,101177,grid.412462.7,Payame Noor Univ,Payame Noor University,Iran,2477,257,295,251,1630,...,50,236,34583,46,62,1,0,1,0.519,1987

In [32]:
df_l['age'] = 2022-df_l['established_year']

## Continent

In [33]:
df_l = df_l.merge(df_reg[['Country or Area', 'Continent']], how='inner', left_on='Country', right_on='Country or Area')
df_l

,id,grid_id,short_name,full_name,Country,impact_P,impact_P_Bio_Health,impact_P_Life_Earth,impact_P_Math_Comp,impact_P_Phy_Eng,...,sections,references,topic_specialisation,topic_specialisation_bio,topic_specialisation_eng,gini_production,established_year,age,Country or Area,Continent
0,6,grid.5110.5,Univ Graz,University of Graz,Austria,3435,1033,823,264,841,...,240,153,0,0,0,0.222,1585,437,Austria,Europe
1,8,grid.410413.3,Graz Univ Technol,Graz University of Technology,Austria,3481,680,361,540,1828,...,126,127,1,0,1,0.44,1811,211,Austria,Europe
2,10,grid.5771.4,Univ Innsbruck,University of Innsbruck,Austria,5704,1041,1361,296,2501,...,159,126,0,0,0,0.369,1669,353,Austria,Europe
3,14,grid.9970.7,Johannes Kepler Univ Linz,Johannes Kepler University Linz,Austria,2628,648,77,637,1028,...,94,84,0,0,0,0.352,1966,56,Austria,Europe
4,15,grid.7039.d,Univ Salzburg,University of Salzburg,Austria,1850,671,416,199,229,...,106,99,0,0,0,0.245,1622,400,Austria,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,18988,grid.440568.b,Khalifa Univ Sci & Technol,Khalifa University of Science and Technology,United Arab Emirates,3074,178,355,711,1752,...,42,96,1,0,1,0.505,2007,15,United Arab Emirates,Asia
1216,10000,grid.412603.2,Qatar Univ,Qatar University,Qatar,3963,895,420,855,1458,...,102,136,0,0,0,0.274,1973,49,Qatar,Asia
1217,10445,grid.31143.34,Mohammed V Univ,Mohammed V University,Morocco,2243,356,293,296,1274,...,55,59,1,0,1,0.457,1957,65,Morocco,Africa
1218,16446,grid.7123.7,Addis Ababa Univ,Addis Ababa University,Ethiopia,2209,1073,738,35,172,...,133,106,0,0,0,0.479,1950,72,Ethiopia,Africa
1219,18894,grid.444812.f,Ton Duc Thang Univ,Ton Duc Thang University,Viet Nam,3935,350,423,933,2102,...,45,81,1,0,1,0.461,1997,25,Viet Nam,Asia

In [34]:
df_l.drop(columns='Country or Area', inplace=True)

# Final fix

In [35]:
df_l[['dimensions_wos']]

      dimensions_wos
0             68.745
1             67.938
2             78.239
3             67.235
4             68.570
...              ...
1215          70.601
1216          68.339
1217          48.248
1218          63.465
1219          87.454

[1220 rows x 1 columns]

In [36]:
df_l.dimensions_wos = 100-df_l.dimensions_wos
df_l[['dimensions_wos']]

      dimensions_wos
0             31.255
1             32.062
2             21.761
3             32.765
4             31.430
...              ...
1215          29.399
1216          31.661
1217          51.752
1218          36.535
1219          12.546

[1220 rows x 1 columns]

In [37]:
df_l.to_csv('data/full_leiden_wikipedia_spec_indicators.tsv', sep='\t', index=False)